{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-image: url('{{ asset('image/accueil.jpg') }}');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="jumbotron mt-5">
                    <h1 class="text-center">Connexion</h1>

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form method="post">
                    <br>
                        <div class="d-flex align-items-center justify-content-center flex-column">
                            <p class="text-center">Vous n'avez pas de compte ? <a href="{{ path('app_register') }}">S'inscrire</a></p>
                        </div>

                        <div class="form-group">
                            <label for="email">E-mail :</label>
                            <input type="email" id="email" name="_username" value="{{ last_email }}" class="form-control" required autofocus>
                        </div>
                    
                        <div class="form-group">
                            <label for="password">Mot de passe :</label>
                            <input type="password" id="password" name="_password" class="form-control" required>
                        </div>
                        
                        <div class="d-flex align-items-center justify-content-center flex-column">
                            <p class="ml-auto"><a href="#">Mot de passe oublié ?</a></p>
                        </div>

                        <div class="d-flex align-items-center justify-content-center flex-column">
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Connexion">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
