.navbar-brand img {
    width: 60px;
    border-radius: 20%;
}

.card {
    max-width: 20rem;
}

.cardfiche {
    max-width: 100rem;
}

.imgliste{
    border-radius: 5%;
    height: 200px; 
    width: 80%; 
    display: block;
}

.imgfiche {
    border-radius: 10%; 
    height: 200px; 
    width: 80%; 
    display: block;
}

.titre{
    color: white;
    text-align: center;
}

.titreaccueil{
    color: #385c7c;
}

/* texte sur l'image */
.texteimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: rgba(56, 92, 124, 0.8);
    padding: 10px;
    border: 2px solid #385c7c;
    border-radius: 20px;
    /* max-width: 90%;
    width: auto;
    font-size: 1.5rem;
    line-height: 1.5; */
}

.card-text{
    text-align: left;
}

.card-titre{
    color: black;
}

/* Image page d'accueil */
.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container .img-fluid {
    height: 200px;
}

.btn {
    margin-top: 10px;
}

.zoom-effect {
    transition: transform 0.3s ease-in-out;
}

.zoom-effect:hover {
    transform: scale(1.1);
}

.image-with-text {
    position: relative;
    overflow: hidden;
}

.image-text {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 10px;
    font-size: 18px;
    color: #000;
}

.image-container:hover {
    cursor: pointer;
}

.footer {
    background-color: #385c7c;
    padding: 20px 0;
}

.footer h5 {
    margin-bottom: 15px;
}

.footer ul li a {
    color: #000;
}

/* footer */
.logo-footer {
    max-width: 100px;
    height: auto;
    border-radius: 10%;
}

.custom-link {
    color: black; /* Couleur de texte noire par défaut */
    transition: color 0.3s; /* Transition pour le changement de couleur */
}

.custom-link:hover {
    color: darkgray; /* Couleur de texte gris lorsqu'il est survolé */
}

/* style du lien de la page equipements */
.card-text .achat-lien {
    color: black;
    text-decoration: none;
}

.card-text .achat-lien:hover {
    text-decoration: underline;
}

.photoProfil {
    border-radius: 50%;
    max-width: 60px;
    height: auto;
}

body {
    margin: 0;
}

/* couleur du formulaire type exercice musculation */
.select2-container--default .select2-results__option {
    color: black;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black;
}

.white-text {
    color: #04b789;
}

/*.container {
    max-width: 1800px;
}*/

/* page accueil */
.image-container {
    border: 2px solid #385c7c;
    border-radius: 20px;
    overflow: hidden;
}

/* page chats */
.message {
  margin-bottom: 20px;
  background-color: #ffffff;
  color:#000;
  border-radius: 5%;
}

.user-details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.photoProfilChats {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #385c7c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #385c7c;
}

.message.self {
    background-color: #8f989f;
    color: #000;
    border-radius: 5%;
}

hr {
    border: none;
    height: 1px;
    background-color: #385c7c;
    margin: 20px 0;
  }

.message-envoyer {
    text-align: center;
}
