{% extends 'base.html.twig' %}

{% block title %}Politique en matière de cookies - Apollift{% endblock %}

{% block body %}
<br>
<div class="container position-relative text-center animate__animated animate__zoomIn">
    <h1>Politique en matière de cookies</h1>
<hr>
<br>
</div>
<p>Cette politique de cookies doit être lue conjointement avec notre politique de confidentialité.</p>
<p>Pour faciliter la navigation sur le site Internet et l'application mobile, Apollift vous informe qu'elle utilise des cookies.</p>
<p>À cet égard, et afin de garantir à l'utilisateur toutes les informations nécessaires à une navigation correcte, nous mettons à disposition de l'utilisateur le texte informatif suivant sur ce que sont les cookies, quel type de cookies sont utilisés sur notre site Web et comment ils peuvent être configurés ou désactivés.</p>
<p>Pour toute question sur notre Politique Cookies, vous pouvez nous contacter à l'adresse email suivante : apollift_team@outlook.com</p>
<br>

<h3>1. QUE SONT LES COOKIES ?</h3>
<p>Les cookies répondent à une grande variété de finalités. Les cookies sont des fichiers contenant de petites quantités d'informations, qui sont téléchargés sur l'appareil de l'utilisateur lors de la visite d'une page Web et qui permettent d'identifier l'appareil d'accès, ainsi que les pages et les éléments consultés, dans le but de permettre une meilleure expérience de navigation.</p>
<p>Les cookies sont essentiels au fonctionnement d'Internet, car ils offrent des solutions techniques qui permettent à l'utilisateur de naviguer sur les différents sites Internet ; ils ne peuvent pas endommager l'équipement/appareil de l'utilisateur et peuvent être utilisés pour identifier et résoudre d'éventuelles erreurs dans le fonctionnement de la Plateforme. Ils peuvent également être utilisés à des fins publicitaires ou analytiques.</p>
<p>Les cookies utilisés sur le site Web ne collectent pas d'informations personnelles permettant l'identification de l'utilisateur, mais conservent uniquement des informations génériques, à savoir la forme ou le lieu/pays d'accès de l'utilisateur et la manière dont il utilise le site Web.</p>
<p>L'Utilisateur peut bloquer et contrôler les cookies en utilisant les informations et instructions ci-dessous. En bloquant tous les cookies, Apollift ne peut garantir que l'Utilisateur pourra utiliser certaines fonctionnalités du Site et de l'Application Mobile.</p>
<br>

<h3>2. UTILISATION DES COOKIES</h3>
<h5>Cookies de fonctionnalité</h5>
<p>Ces cookies permettent de mémoriser les préférences de l'utilisateur concernant l'utilisation du site Web/de l'application, de sorte qu'il ne soit pas nécessaire de reconfigurer le site à chaque visite, et de différencier votre expérience de celle des autres utilisateurs. Si vous choisissez vous-même ces fonctionnalités, les cookies seront considérés comme un service expressément demandé par vous et seront donc utilisés exclusivement aux fins que vous avez sélectionnées et sans solliciter votre autorisation expresse. consentement. Si vous n'autorisez pas ces cookies, certaines de ces fonctionnalités pourraient ne pas fonctionner correctement.</p>
<h5>Cookies analytiques</h5>
<p>Ces cookies collectent des informations sur la manière dont les visiteurs utilisent le site Web. La fonction de ces cookies est d'obtenir des statistiques et des rapports afin que nous puissions mesurer et améliorer les performances de notre site Web/application. Ils nous aident, par exemple, à savoir quelles pages sont les plus et les moins populaires, si vous recevez des messages d'erreur de pages Web ou sur quels boutons du site Web/de l'application vous cliquez. Toutes les informations collectées par ces cookies sont agrégées et donc anonymes.</p>
<br>

<h3>3. COOKIES MANAGEMENT</h3>
<p>Vous pouvez accepter, refuser ou définir vos préférences en matière de cookies via notre avis relatif aux cookies. Une fois vos paramètres sélectionnés, vous pouvez modifier ou désactiver tout ou partie des cookies à tout moment, à l'exception des cookies nécessaires (dont la désactivation pourrait invalider les fonctionnalités de base du site).</p>
<br>

<h3>4. TRANSFERTS INTERNATIONAUX DE DONNÉES</h3>
<p>Apollift ne procède pas à des transferts de données internationaux (hors Union Européenne). Apollift veillera à ce que vos données personnelles bénéficient d'un haut niveau de protection en vertu d'une décision d'adéquation de la Commission européenne ou en vertu des clauses contractuelles types (ou similaires) approuvées par la Commission européenne.</p>
<p>De plus, la plupart des navigateurs Internet permettent à l'utilisateur de contrôler les cookies stockés sur son appareil, ainsi que de les supprimer immédiatement si l'utilisateur souhaite cesser d'autoriser le stockage local de cookies via les outils de configuration de son navigateur.</p>
<p>Pour ce faire, vous pouvez trouver des informations plus spécifiques sur la manière de gérer les préférences en matière de cookies pour les navigateurs les plus populaires sur :</p>
<a href="https://allaboutcookies.org/how-to-clear-cookies-microsoft-edge"><p><u>Microsoft Edge Cookie Settings – Delete cookies</u></p></a>
<a href="https://allaboutcookies.org/how-to-clear-cookies-chrome"><p><u>Chrome Cookie Settings – Disable cookies</u></p></a>
<a href="https://allaboutcookies.org/how-to-clear-cookies-firefox"><p><u>Mozilla Firefox Cookie Settings – Disable cookies</u></p></a>
<a href="https://allaboutcookies.org/how-to-clear-cookies-safari"><p><u>Safari Web and iOS Cookie Settings – Disable cookies</u></p></a>
<a href="https://allaboutcookies.org/how-to-clear-cookies-opera"><p><u>Opera and Opera Mobile Cookie Settings – Disable cookies</u></p></a>
<br>

<h3>5. MODIFICATIONS DE LA POLITIQUE EN MATIÈRE DE COOKIES</h3>
<p>Nous pouvons à tout moment modifier ou modifier cette politique en matière de cookies, ces modifications seront publiées sur le site Web/l'application.</p>

<br>
<h4>Date de dernière mise à jour : : 25/04/2024</h4>
{% endblock %}
