{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité - Apollift{% endblock %}

{% block body %}
<br>
<div class="container position-relative text-center animate__animated animate__zoomIn">
    <h1>Politique de confidentialité</h1>
<hr>
<br>
</div>
<h3>1. NOTRE ENGAGEMENT</h3>
<p>La présente Politique de Confidentialité régit l'utilisation, le traitement et la gestion des données personnelles des utilisateurs, collectées dans le cadre de leur utilisation de ce site internet et de l'application mobile par Apollift.</p>
<p>Apollift s'engage à vous accompagner dans votre cheminement vers l'équilibre parfait entre santé physique et bien-être, en améliorant les services proposés et en veillant au respect des obligations du Règlement Général sur la Protection des Données (UE) 2016/679 du Parlement européen et du Conseil (ci-après « RGPD ») et toute autre législation applicable relative à la protection des données.</p>
<p>Le respect de votre vie privée, la protection de vos données personnelles et le respect des obligations légales applicables en la matière est pour nous une priorité, c'est pourquoi nous nous engageons à ne traiter vos données personnelles que celles strictement nécessaires pour vous fournir avec le meilleur service, en garantissant la légalité, l'équité et la transparence et en appliquant les meilleures pratiques en matière de sécurité et de protection des données personnelles.</p>
<p>Le traitement des données personnelles implique la connaissance et l'acceptation des Conditions Générales d'Utilisation du Site Internet et de l'Application (ci-après dénommées les « Conditions Générales »).</p>
<br>

<h3>2. RESPONSABLE DU TRAITEMENT DES DONNÉES</h3>
<p>Le responsable du traitement de vos données personnelles est Apollift.</p>
<br>

<h3>3. FINALITÉS, LÉCITÉ DU TRAITEMENT ET DURÉE DE CONSERVATION</h3>
<p>Nous vous informons par la présente des finalités et de la licéité du traitement de vos données personnelles :</p>
<h5>I. Gestion du site Web/de l'application</h5>
<p>Apollift a besoin de traiter des données pour faire fonctionner le site Web/l'application permettant à l'utilisateur d'accéder aux services.</p>
<p>Ce traitement de données est basé sur votre consentement.</p>
<h5>II. Pour vous fournir les Services</h5>
<p>Apollift traite vos données personnelles, telles que vos caractéristiques personnelles, vos préférences et vos routines quotidiennes, pour vous fournir, en tant qu'Utilisateur, les fonctionnalités qui peuvent mieux servir vos objectifs personnels dans le cadre de nos Services.</p>
<p>Nous profilons vos préférences et votre activité physique pour surveiller le degré d'engagement dans les différentes fonctionnalités de nos Services, afin que nous puissions offrir les Services plus efficacement et adapter les fonctionnalités ou le contenu pour correspondre à vos habitudes et préférences d'utilisation individuelles. Nous décidons souvent de la manière d'améliorer le Service en fonction des résultats obtenus par ce traitement.</p>
<p>Pour l'hébergement, l'exploitation et la distribution de notre application, nous utilisons , un service d'hébergement et backend proposé par , pour gérer les données personnelles.</p>
<h5>III. Notifications push-up et messages dans l'application</h5>
<p>Pour maintenir la motivation de l'Utilisateur et le concentrer sur la réalisation de ses objectifs, Apollift peut envoyer des notifications "push-up" ou des messages "in-app" avec des rappels et des messages, qui peut être modifier grâcee au paramètre par défaut dans votre paramètres de l'appareil.</p>
<h5>IV. Traitement de catégories particulières de données</h5>
<p>L'Utilisateur est le seul responsable et mentor de sa propre santé physique et mentale.</p>
<p>Apollift traite des catégories particulières de données, par ex. Santé, à intégrer dans votre démarche en fonction des objectifs de santé physique et de bien-être que vous souhaitez atteindre.</p>
<p>Par souci de clarté, Apollift n'est pas une entité médicale et ne vous fournira aucun diagnostic ni conseil médical. L'objectif principal et la portée de nos Services sont d'aider l'Utilisateur à atteindre le meilleur équilibre entre santé physique et bien-être, en pouvant accéder à nos plans nutritionnels et d'entraînement adaptés à ses besoins et en disposant d'un espace où il peut partager l'évolution de sa condition. A ce titre, les informations mises à disposition par nos Services et nos partenaires doivent être utilisées exclusivement à des fins récréatives et éducatives, et vous devez toujours consulter votre médecin avant de commencer un régime, un programme de suivi de condition physique ou si vous ressentez une douleur ou un inconfort.</p>
<p>Ce traitement de données est basé sur votre consentement préalable.</p>
<h5>V. Pour respecter les obligations légales</h5>
<p>Vos données pourront également être communiquées à des autorités lorsque la transmission est effectuée pour respecter une obligation légale et/ou contractuelle, sur exigence de l'Autorité de Contrôle et/ou sur décision judiciaire.</p>
<h5>VI. Mineurs</h5>
<p>Apollift n’a pas l’intention de traiter les données personnelles des personnes de moins de 18 ans.</p>
<p>Nous encourageons les parents et tuteurs/représentants légaux à surveiller l'utilisation d'Internet par leurs enfants et à nous aider à appliquer notre politique de confidentialité en demandant à leurs enfants de ne jamais fournir de données personnelles via nos services sans leur autorisation.</p>
<p>Par souci de clarté, il n'est pas de la responsabilité d'Apollift de vérifier que le parent/tuteur/représentant légal de l'enfant a consenti au traitement des données personnelles de l'enfant, au-delà des efforts raisonnables compte tenu de la technologie disponible.</p>
<p>Si vous remarquez qu'un mineur nous a fourni des données personnelles sans le consentement de ses parents ou tuteurs/représentants légaux, veuillez contacter notre équipe d'assistance à l'adresse e-mail suivante : apollift_team@outlook.com</p>
<br>

<h3>4. CATÉGORIES DE DONNÉES</h3>
<p>Dans le cadre des finalités évoquées ci-dessus, Apollift traite uniquement les données strictement nécessaires à la poursuite de ces finalités. Nous collectons notamment : les données que vous nous fournissez volontairement, les données que nous collectons automatiquement.</p>
<h5>Données que vous nous fournissez</h5>
<p>Lorsque vous enregistrez un nouveau compte de profil en ligne pour utiliser les Services, vous nous fournissez des informations vous concernant :</p>
<p>Données d’identification et de contact, par exemple : nom; e-mail; naissance; genre.</p>
<p>En outre, Apollift peut traiter des catégories particulières de données personnelles, telles que :</p>
<p>Caractéristiques physiques, par exemple : hauteur; poids; durée de l'entraînement.</p>
<p>Routine quotidienne, par exemple : préférences et routines d'exercice physique.</p>
<br>

<h3>5. TRANSFERTS INTERNATIONAUX DE DONNÉES</h3>
<p>Apollift ne procède pas à des transferts de données internationaux (hors Union Européenne). Apollift veillera à ce que vos données personnelles bénéficient d'un haut niveau de protection en vertu d'une décision d'adéquation de la Commission européenne ou en vertu des clauses contractuelles types (ou similaires) approuvées par la Commission européenne.</p>
<br>

<h3>6. DROITS DE LA PERSONNE CONCERNÉE</h3>
<p>En tant que personne concernée, vous pouvez à tout moment exercer votre droit d'accès, de rectification ou d'effacement de vos données personnelles. Cela signifie que vous pouvez demander une copie des données que nous traitons et les examiner, que vous pouvez modifier les données personnelles que vous nous avez précédemment fournies et que vous pouvez demander l'effacement de vos données personnelles, dans la mesure permise par la loi.</p>
<p>Vous pouvez également exercer votre droit d'opposition ou de limitation au traitement de vos données personnelles, en nous demandant de cesser d'utiliser tout ou partie de vos données personnelles.</p>
<p>L'exercice, concrètement, de ces droits dépend de la vérification de certaines exigences légales et circonstancielles, et l'invocation de l'une d'entre elles et la recevabilité respective de l'exercice seront analysées au cas par cas par Apollift.</p>
<p>Si vous avez donné votre consentement pour certains traitements de vos données personnelles, vous pouvez le retirer à tout moment.</p>
<p>Pour exercer l'un de ces droits, vous devez le faire en envoyant une demande à l'adresse e-mail suivante : apollift_team@outlook.com.</p>
<p>Apollift donnera suite à tout exercice de droits dans les plus brefs délais et dans les délais fixés par la législation applicable.</p>
<p>Conformément au RGPD, si vous êtes un utilisateur basé dans l'EEE, vous disposez des droits suivants en plus de ceux ci-dessus :</p>
<p>Vous avez le droit à la portabilité des données. Cela signifie que vous pouvez demander une copie de vos données personnelles dans un format lisible par machine.</p>
<p>Sans préjudice de tout autre recours administratif ou judiciaire, vous avez également le droit de déposer une plainte auprès de l'autorité de contrôle compétente concernant des questions liées au traitement de vos données personnelles, si vous estimez que le traitement de vos données personnelles par Apollift viole les dispositions légales. régime en vigueur. L'autorité de contrôle compétente en matière de protection des données auprès de laquelle vous déposez une plainte doit être située en particulier dans l'État membre de l'UE où vous résidez, travaillez ou où l'infraction présumée a eu lieu.</p>
<br>

<h3>7. COOKIES</h3>
<p>Nous vous recommandons de lire notre Politique de Cookies, qui fait partie intégrante de cette Politique de Confidentialité, pour plus d'informations sur la manière dont nous traitons vos données personnelles via cette fonctionnalité.</p>
<br>

<h3>8. MESURES DE SÉCURITÉ</h3>
<p>Nous avons mis en œuvre des mesures de sécurité pour garantir la protection de vos données personnelles, en empêchant les abus, l'accès non autorisé aux données, la divulgation, perte, modification ou destruction inappropriée ou par inadvertance.</p>
<p>Entre autres, nous soulignons les mesures suivantes :</p>
<p>I. Accès restreint à vos données personnelles ;</p>
<p>II. Stockage et transmission sécurisés de vos données personnelles ;</p>
<p>III. Mise en place de mécanismes garantissant la sauvegarde de l'intégrité et de la qualité de vos données personnelles ;</p>
<p>IV. Surveillance permanente des systèmes d'information, dans le but de prévenir, détecter et éviter une utilisation inappropriée de vos données personnelles ;</p>
<p>V. Protection des équipements de stockage, de traitement et de communication des données personnelles, afin d'éviter toute perte de disponibilité.</p>
<p>Il est toutefois de la responsabilité des utilisateurs de garantir et de s'assurer que les appareils et équipements utilisés pour accéder à ce site Web et à cette application sont protégés de manière adéquate contre les logiciels nuisibles et les virus informatiques.</p>
<br>

<h3>9. MISES À JOUR DE LA POLITIQUE DE CONFIDENTIALITÉ</h3>
<p>Apollift se réserve expressément le droit de réviser et de modifier cette politique de confidentialité à tout moment.</p>
<p>Ces modifications seront annoncées sur le Site Web et dans l'Application, nous vous conseillons donc de les lire et de les consulter périodiquement.</p>
<p>Si vous continuez à utiliser nos services après l'entrée en vigueur de ces modifications, vous acceptez d'être lié par la politique de confidentialité révisée.</p>
<br>

<h3>10. CONTACTEZ-NOUS</h3>
<p>Si vous avez besoin de nous contacter pour clarifier des doutes ou pour obtenir des informations supplémentaires sur cette politique de confidentialité, vous pouvez nous contacter à tout moment. Veuillez le faire via l'adresse e-mail suivante : apollift_team@outlook.com.</p>
<br>
<h4>Date de dernière mise à jour : : 25/04/2024</h4>
{% endblock %}
