<!DOCTYPE html>
<html>
<head>
    <title>Confirmation d'inscription</title>
</head>
<body>
    <h1>Bienvenue sur notre site !</h1>
    <p>Merci de vous être inscrit. Pour valider votre adresse e-mail, veuillez cliquer sur le lien ci-dessous :</p>
    <a href="{{ confirmationUrl }}">Confirmer mon adresse e-mail</a>
</body>
</html>
