{% autoescape false %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de mot de passe</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>Vous avez demandé une réinitialisation de votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour procéder à la réinitialisation :</p>
    <p><a href="{{ resetLink }}">Réinitialiser mon mot de passe</a></p>
</body>
</html>
{% endautoescape %}
