{% extends 'base.html.twig' %}

{% block title %}Performance{% endblock %}

{% block body %}
<br>
<div class="container position-relative text-center animate__animated animate__zoomIn">
    <img src="{{ asset('image/performance/performanceBanniere.jpg')}}" alt="Image accueil" class="img-fluid mx-auto">
    <h2 class="texteimg">Performance</h2>
</div>
{% endblock %}
